*,
::after,
::before {
    box-sizing: border-box;
}
body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
    font-size: 16px;
    margin: 0;
}
header {
    width: 100%;
    margin: 0;
    position: absolute;
}
.container {
    width: 100%;
    margin: auto;
    max-width: 1200px;
    /* padding-right: 15px;
    padding-left: 15px; */
}
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    margin-right: auto;
    margin-left: auto;
}
.logo {
}
.nav {
    display: inline;
}
.nav a {
    text-decoration: none;
    font-weight: 700;
    margin-right: 35px;
}
.nav li {
    display: inline-block;
    text-align: center;
}

.nav ul li {
    list-style: none;
}
.nav ul li > ul {
    position: absolute;
    visibility: hidden;
    left: 0;
    top: 150%;
    text-align: left;
    min-width: 138px;
}
.nav ul li > ul:hover {
    visibility: visible;
    top: 150px;
}

.social-icons {
}
