*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li,
a {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
}

header {
  display: flex;

  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
}

.logo {
  cursor: pointer;
}

.nav__links {
  list-style: none;
}
.nav__links li {
  display: inline-block;
  padding: 0 20px;
}
.nav__links li a {
  transition: all 0.3s ease 0s;
}
.nav__links li a:hover {
  color: #d74d52;
}
.social a {
  display: inline-block;
  padding: 25px 5px;
}
.social a:hover {
  color: #d74d52;
}
