* {
    box-sizing: border-box;
}
div {
    background: lightgrey;
    text-align: justify;
    padding: 20px;
}

.box-1 {
    width: 300px;
    border: 2px solid black;
    margin: 20px auto;
}
.box-2 {
    width: 300px;
    border: 2px dashed black;
    margin-left: auto;
}
.box-3 {
    width: 300px;
    border-right: 5px double black;
    margin-bottom: 20px;
}
.box-4 {
    width: 80%;
    border-top: thin dashed black;
    border-bottom: medium dashed black;
    margin: 0 auto;
}
