@import "base/_colors.scss";
@import "base/_reset.scss";
@import "abstracts/mixin";

body {
    background-image: url(blur-clean.jpg);
}

.box1 {
    background-color: $color1;
}

.box2 {
    background-color: $color2;
}

.box3 {
    background-color: $color3;
}