body {
    background: url(../images/fire.png) no-repeat center 30%/18% fixed,
        url(../images/pattern.png),
        url(../images/blossom.jpg) no-repeat top center/cover fixed;đ
}

header {
    background-color: #333;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: lightgray;
    text-align: center;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}
