/* makni osnovni styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(120deg, #dbbe5d, #fda085);
    /* background-image: linear-gradient(120deg, blue, red); */
    color: white;
}
